External/json/** text eol=lf
External/Valijson/** text eol=lf
External/Valijson/patches/*.patch -whitespace
GLTFSDK.Test/Resources/JSON-Schema-Test-Suite/** text eol=lf -whitespace
GLTFSDK.Test/Resources/JsonMigrationBaseline/** text eol=lf
