# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

pool:
  vmImage: 'VS2017-Win2016'

variables:
  buildPlatform: 'x86'
  buildConfiguration: 'Release'

steps:

- task: CMake@1
  inputs:
    workingDirectory: 'built\Int\cmake_win32'
    cmakeArgs: ['-G "Visual Studio 15 2017', ..\..\..]

- task: VSBuild@1
  inputs:
    solution: 'built\Int\cmake_win32\GLTFSDK.sln'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
